{% extends 'home/base.html' %}

{% block menu %}
    <a class="nav-link" aria-current="page" href="{% url 'news:home' %}">Главная</a>
    <a class="nav-link" href="{% url 'blogs:all_blogs' %}">Блоги</a>
    <a class="nav-link" href="#">Резюме</a>
    <a class="nav-link" href="{% url 'about:contact' %}">Обратная связь</a>
{% endblock %}

{% block contents %}
    <section class="news detail">
        <div class="container">
            <img src="{{data.image.url}}" alt="">
            <h2 class="mt-4">{{ data.title }}</h2>
            <br>
            {{data.time}}
            <hr>
            <br>
            {{data.description|safe}}
            <br>
            <br>
            <a href="{% url 'news:home' %}" class="btn btn-primary">Назад</a>
        </div>
    </section>
{% endblock %}
