{% extends 'home/base.html' %}

{% block contents %}

{% load static %}
<header class="home_head text-center pt-5  col-12">
    <div class="col"></div>
    <div class="home_head_text mx-auto pt-3 col-12 col-sm-12 col-md-6">
        <h1 class="mt-5 col fw-bold">христофоров илья</h1>
        <h2>Добро пожаловать на мой личный сайт</h2>
        <div class="home_head_text_descr mt-3 col">
            На этом сайте вы сможете изучить текущие проекты, проследить за моим блогом
            <br> и связаться со мной через одну из социальных сетей и посмотреть резюме
        </div>
        <br><br>
    </div>

</header>

<section class="news mt-5">
    <div class="container">
            {% for i in data %}
                <div class="card mb-3">
                    <div class="card-horizontal">
                        {% if i.image %}
                        <div class="img-square-wrapper">
                            <img src="пшеmedia/{{ i.image }}" alt="Card image cap">
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ i.title }}</h4>
                            <p class="card-text">{{ i.description|truncatechars:100 }}</p>
                            <a href="{% url 'home:detail' i.id%}" class="btn btn-primary">Читать</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
    </div>
</section>



{% endblock %}
