{% extends 'home/base.html' %}

{% load static %}

{% block menu %}
<a class="nav-link" aria-current="page" href="{% url 'news:home' %}">Главная</a>
<a class="nav-link" href="{% url 'blogs:all_blogs' %}">Блоги</a>
<a class="nav-link" href="#">Резюме</a>
<a class="nav-link active" href="{% url 'about:contact' %}">Обратная связь</a>
{% endblock %}

{% block contents %}
    <header class="mt-5 about col-12 text-center">
        <h1 class="text-center" style="font-weight: 700;">ОБРАТНАЯ СВЯЗЬ</h1>
    </header>

    <hr>

    <section class="social pt-5">
        <div class="container">
            <div class="row social_media">
                <div class="card mb-3 text-center" style="width: 18rem;">
                    <h2 class="text-center">ВКОНТАКТЕ</h2>
                    <a href="https://vk.com/doctor_kirit"><img src="{% static 'img/qr/vk.jpg' %}" class="card-img-top" alt="vk"></a>
                    <div class="card-body text-center   ">
                      <p class="card-text"><a href="https://vk.com/doctor_kirit" class="btn btn-primary">Профиль</a></p>
                    </div>
                </div>

                <div class="card mb-3 text-center" style="width: 18rem;">
                    <h2 class="text-center">GitHub</h2>
                    <a href="https://github.com/Animila"><img src="{% static 'img/qr/github.gif' %}" class="card-img-top" alt="github"></a>
                    <div class="card-body text-center   ">
                      <p class="card-text"><a href="https://github.com/Animila" class="btn btn-primary">Профиль</a></p>
                    </div>
                </div>

                <div class="card mb-3 text-center" style="width: 18rem;">
                    <h2 class="text-center">ТЕЛЕГРАМ</h2>
                    <a href="https://t.me/doctor_kirit"><img src="{% static 'img/qr/telegram.png'%}" class="card-img-top" alt="telegram"></a>
                    <div class="card-body text-center   ">
                      <p class="card-text"><a href="https://t.me/doctor_kirit" class="btn btn-primary">Личные сообщения</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <h2 class="text-center pt-5" style="font-size: 50px;">Контактные данные</h2>
            <div class="contact_descr mt-2 text-center">
                <div class="contact_descr_table pt-5">
                    <div class="contact_descr_email text-uppercase">
                        <b><p>Email: <a href="mailto:hristoforoila5@gmail.com">hristoforoila5@gmail.com</a></p></b>
                    </div>
                    <div class="contact_tel text-uppercase">
                        <b><p>Телефон: <a href="tel:+79241753537">+7-924-175-35-37</a></p></b>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
